

.container
{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 65%;
    margin-top: 50px;
}
.formsignin {
    background: #c2e9fb;
    padding: 50px 80px;
}
.logo {
    width: 200px;
    height :120px;
    margin:auto;
}

.oneline {
    display: flex;
}

.forgot {
    margin-left: auto;
}
.buttonCSS {
    background-color: darkorange;
    color: aqua;
}
@media only screen and (max-width: 576px) {
    .formsignin {
        min-width: 360px;
        flex-wrap: wrap;
        padding: 50px 0px;
    }
}
